body{
    background-color: #790307;
}
.texto{
    font-size: 15px; /*tamanho da fonte*/
    line-height: 20px; /*entre linhas*/
    color: aqua; /*cor da fonte*/
    font-style: italic; /*estilo da fonte*/
    font-weight: bold; /*largura da fonte*/
    text-align: right; /*alinhamento de texto*/
    text-transform: uppercase; /*texto maiusculo*/

}
.texto a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.borda{
    font-size: 20px;
    width: 500px;
    border: 2px solid #00dc49; /*tamanho, tipo, cor*/
    margin: 0 auto;
    margin-top: 40px; /*top, left, right, bottom*/
    padding: 20px; /*espaçamento da borda*/
    padding-top: 40px;
    padding-bottom: 40px;
}
.lista{
    list-style-position: inside; /*posição do marcador, inside ou outside*/
    list-style-type: square; /*disc, circle, square*/
    
}
